/* styles.css */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #030f27;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    cursor: pointer;
}

h2 {
    color: #333;
}

/* Navigation Bar */
#navbar {
    background-color: #fdbe33;
    overflow: hidden;
}

#navbar .logo {
    float: left;
    color: black;
    font-size: 24px;
    padding: 15px 20px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 150px;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    color: #030f27;
    padding: 14px 20px;
    text-align: center;

}

#navbar ul li a:hover {
    color: white;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    cursor: pointer;
    font-size: 30px;
    padding: 14px;
    color: white;
}

@media (max-width: 768px) {
    #navbar ul {
        display: none;
        width: 100%;
    }

    #navbar ul li {
        float: none;
        width: 100%;
    }

    #navbar ul li a {
        text-align: left;
        padding: 14px 20px;
    }

    #navbar ul.show {
        display: block;
    }

    .hamburger {
        display: block;
    }

    #navbar .logo {
        float: none;
        text-align: center;
        padding: 10px;
    }
}

/* Main Content */
#steps, #application-form {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#steps ul {
    list-style-type: none;
    padding-left: 0;
}

#steps li {
    margin: 10px 0;
}

/* Form Styles */
form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #fdbe33;
    color: white;
    cursor: pointer;
    border: none;
}

form button:hover {
    background-color: #fdbe33;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #030f27;
    color: white;
}
